body {
    background-color: hsl(185, 41%, 84%);
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


#box {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    height: 365px;
    width: 700px; 
    border-radius: 20px;
    
}

#box-left {
    flex: 1;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 15px;
    
}



#box-right {
    flex: 1;
    background-color: hsl(186, 14%, 43%) ;
    border-radius: 20px;
    margin: 15px;
}

#title-bill {
    font-size: 20px;
    font-family: 'Lora', serif;
    margin-bottom: 10px;
}

#bill {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 245, 248);
    padding: 5px;
    border-radius: 5px;
}

#valor {
    font-size: 20px;
    font-family: 'PT Serif', serif; ;
}

#selecttip {
    font-size: 20px;
    font-family: 'PT Serif', serif;

}

#box-num {
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#porc button {
    background-color: rgb(63, 114, 107);
    height: 35px;
    width: 75px;
    font-size: 15px;
    font-weight: 700;
    border:transparent;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    margin-right: 15px;
    text-align: center;
}





#title-tip {
    margin-top: 15px;
    margin-bottom: 10px;
}

#title-tip, #title-bill, #title-plp {
    color:rgb(68, 107, 102) ;
}

#valor {
    color:rgb(68, 107, 102)
}

#num-plp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

#nump {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(68, 107, 102);
    margin-right: 5px;
}

#icon {
    margin-left: 5px;
    margin-right: 20px;
}

#title-plp {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 20px;
}

#title-plp {
    font-size: 20px;
}

#number {
    text-align: center;
}


#nbill, #np {
    width: 60px;
    text-align: center;
}


#tip1 , #tip2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 40px;
}

#space-2 {
    margin-top: -30px;
    padding-top: -20px;
}

#space-4 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#space-4 button {
    height: 35px;
    width: 230px;
    cursor: pointer;
}

#amount1 p , #amount2 p {
    margin-top: -20px;
}

#num1:focus,#num2:focus,#num3:focus,#num4:focus,#num5:focus {
    background-color: rgb(22, 204, 204);
}


#n-amount1 ,#n-amount2,#n-amount3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 204, 204);
} 

#reset {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 45px;
}

#reset:hover {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h4, p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-size: 14px;
    color: rgb(189, 186, 186);
    font-weight: 700;
}